*.pyc
__pycache__
/src/*.egg-info
.installed.cfg
/bin/
/coverage/
/develop-eggs/
/eggs/
/keys/
/parts/
/include/
/lib/
/local/
# ignore virtualenv if used
/ve/

# Test data
datakey.dat
kek.dat
source-cache.log
