[buildout]
develop = .
parts = test coverage-test coverage-report python paster runserver testclient ctags

[test]
recipe = zc.recipe.testrunner
eggs = keas.kmi [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = keas.kmi [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[python]
recipe = zc.recipe.egg
eggs = keas.kmi
interpreter = python

[ctags]
recipe = z3c.recipe.tag:tags
eggs = keas.kmi

[paster]
recipe = zc.recipe.egg
eggs = Paste
       PasteScript
       PasteDeploy
       pyOpenSSL
       zope.app.component
       zope.app.publication
       zope.app.publisher
       zope.app.security
       zope.component
       zope.error
       zope.publisher
       zope.securitypolicy
       keas.kmi

[runserver]
recipe = zc.recipe.egg
eggs = ${paster:eggs}
scripts = paster=runserver
arguments = ['serve', 'server.ini']

[testclient]
recipe = zc.recipe.egg
eggs = keas.kmi
