[buildout]
develop = .
parts = test coverage-test coverage-report python


[test]
recipe = zc.recipe.testrunner
eggs = keas.kmi [test]
defaults = ['--tests-pattern', '^f?tests$', '-v']


[coverage-test]
recipe = zc.recipe.testrunner
eggs = keas.kmi [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[python]
recipe = zc.recipe.egg
eggs = keas.kmi
interpreter = python
